.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  width: 100%;
  order: 2;
}

.movements::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.movements::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

.movements::-webkit-scrollbar-thumb {
  background-color: #9be15d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid #333; /* creates padding around scroll thumb */
}

@media screen and (min-width: 1024px) {
  .movements {
    width: 100%;
  }
}
