.operation {
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  width: 100%;
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
  place-items: center;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 3fr 0.6fr;
}

.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__input {
  width: 90%;
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  text-align: center;
  color: #333;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__btn {
  font-size: 1.6rem;
  min-width: 2.8rem;
  width: 100%;
  border: none;
  border-radius: 0.7rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.form__btn--transfer {
  background-image: white;
}

.form__btn--loan {
  background-image: white;
}

.form__btn:focus {
  outline: none;
  background-color: #9be15d;
}

.error-message {
  font-weight: bolder;
}

@media screen and (min-width: 500px) {
  .operation {
    padding: 2rem;
    max-width: 80%;
  }

  .operation--loan {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .operation {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .operation {
    padding: 3rem 4rem;
  }
  /* Exceptions for interst */
  .form.form--loan {
    grid-template-columns: 2.5fr 1fr;
  }
  /* End exceptions */

  .logout-timer {
    grid-row-start: 5;
  }
}
